{%extends 'base.html'%}

{%block title%}
HOME
{%endblock%}

{%block content%}

<body class="container-fluid" style="background:#D6C7C7; font-size: large;">
    <div class="container">

        <div>
            {% for item in pitches.items %}
            
            <div class="panel" style ="background:rgb(87, 88, 90);color:white; padding: 3px;">
                <div class="panel-body">
                    <div style="color: whitesmoke; padding: 3px;"><strong style="color: cyan;">Title:</strong>{{ item.title}}</div>
                    <div style="color: whitesmoke;padding: 3px;"><strong style="color: cyan;">Category:</strong>{{ item.category | capitalize }}</div>
                    <div>{{ item.description | capitalize }}</div>
                    <div style="color: whitesmoke;padding: 3px;"><strong style="color: cyan;">Posted: </strong> {{item.date | timeago }}</div>
                    <div class="like" style="padding-top: 10px;">
                        <p ><a class="btn" ><img class="logo" style="width: 30px; height: 30px;" src="../static/images/like.png"/></a>{{item.upvotes}}
                        <a class="btn"><img class="logo" style="width: 30px; height: 30px;" src="../static/images/dislike.png"/></a> {{item.downvotes}} <a class="btn" style="color:white; font-size: large;" href=""><strong>Comment</strong></a></p>
                        
                    </div>
                </div>
            </div>
         
            {% endfor %}
        </div>

        <div style="border: 1px solid blue;">
            {% for page_num in pitches.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {%if pitches.page == page_num %}
                        <a class="btn btn-info mb-4" style="font-size: large;" href="{{ url_for('main.index', page=page_num)}}">{{ page_num}}</a>
                    {% else %}
                        <a class="btn btn-outline-danger" style="font-size: large;" href="{{ url_for('main.index', page=page_num)}}">{{ page_num}}</a>
                    {% endif %}
                {% else %}

                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
</body>

{%endblock%}