{%extends 'base.html'%}

{%block title%}
HOME
{%endblock%}

{%block content%}

<body class="container-fluid" style="background:#D6C7C7; font-size: large;">
    <div class="container">

        <div>
            <h1>Product Pitches</h1>
            {% for item in pitches %}
            {%if item.category == 'product'%}

            <div class="panel" style ="background:rgb(87, 88, 90);color:white;">
                <div class="panel-body">
                    <div>{{ item.description | capitalize }}</div>
                    <div><strong>Posted: </strong> {{item.date | timeago }}</div>
                    <div class="like" style="padding: 10px;">
                        <p id="like" ><span ><img class="logo" style="width: 30px; height: 30px;" src="../static/images/like.png"/></span> {{upvote}}
                        <span><img class="logo" style="width: 30px; height: 30px;" src="../static/images/dislike.png"/></span> {{downvote}}</p>
                    
                      </div>
                    <div><strong>Comments </strong> </div>
                </div> 
            </div>
            {%endif%}
            {% endfor %}
        </div>

        <div>
            <h1>Interview Pitches</h1>
            {% for item in pitches %}
            {%if item.category == 'interview'%}

            <div class="panel" style ="background:rgb(87, 88, 90);color:white;">
                <div class="panel-body">
                    <div>{{ item.description | capitalize }}</div>
                    <div><strong>Posted: </strong> {{item.date | timeago }}</div>
                    <div class="like" style="padding: 10px;">
                        <p id="like" ><span ><img class="logo" style="width: 30px; height: 30px;" src="../static/images/like.png"/></span> {{upvote}}
                        <span><img class="logo" style="width: 30px; height: 30px;" src="../static/images/dislike.png"/></span> {{downvote}}</p>
                    
                      </div>
                    <div><strong>Comments </strong> </div>
                </div> 
            </div>
            {%endif%}
            {% endfor %}
        </div>

        <div>
            <h1>Promotion Pitches</h1>
            {% for item in pitches %}
            {%if item.category == 'promotion'%}
            <div class="panel" style ="background:rgb(87, 88, 90);color:white;">
                <div class="panel-body">
                    <div>{{ item.description | capitalize }}</div>
                    <div><strong>Posted: </strong> {{item.date | timeago }}</div>
                    <div class="like" style="padding: 10px;">
                        <p id="like" ><span ><img class="logo" style="width: 30px; height: 30px;" src="../static/images/like.png"/></span> {{upvotes}}
                        <span><img class="logo" style="width: 30px; height: 30px;" src="../static/images/dislike.png"/></span> {{downvotes}}</p>
                    
                      </div>
                    <div><strong>Comments </strong> </div>
                </div> 
            </div>
            {%endif%}
            {% endfor %}
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
</body>

{%endblock%}